In [1]:
print ("hello word")

#creating a String
#Singel word
print('hello')
print()
#entire phrase
print('this is also a string')

hello word
hello

this is also a string

In [2]:
#variabel
s = 'new york'
print(s)

print(type(s))

print(len(s))

new york
<class 'str'>
8

In [3]:
#string indexing
s = 'hello word'
print (s)
print()
print(s[0])
print()
print(s[1])

hello word

h

e

In [4]:
#string concatentation and repetition
#cocatenation (addition)

s1 = 'hello'
s2 = 'word'
print(s1+" "+s2)

hello word

In [5]:
#repetion (multiplication)

print("hello_"*3)
print("-"*10)

hello_hello_hello_
----------

In [6]:
#string slicing & indexing
s = "nameste world"

print(s[1])
print(s[6:11])
print(s[-5:-1])
print("wor"in s)

a
e wor
worl
True

In [7]:
#basic built-in string method
s = "hello world"
print(s.upper())
print(s.lower())

name = "rangga pebriyan"
age = 22
married = True

print("my name is %s, my age is %s, and it is %s that i am marries" % (name,age,married))
print("my name is {}, my age is {}, and it is {} that i am marries".format (name,age,married))

HELLO WORLD
hello world
my name is rangga pebriyan, my age is 22, and it is True that i am marries
my name is rangga pebriyan, my age is 22, and it is True that i am marries

In [8]:
#basic arithmetic
print(2+1)
print(2-1)
print(2*1)
print(3/2)

3
1
2
1.5

In [9]:
#indentifying data type
a = 42
b = 32.30
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [10]:
#lists
my_list = [1,2,3]
my_list = ['A string',23,100.2232,'o']
len(my_list)

4

In [12]:
#adding new elements to a list
my_list = ['one','two','three',4,5]

#append
l = [1,2.3,['a','b'],'new york']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'new york', 3.1]

In [13]:
#extend
l = [1,2,3]
l.extend([4,5,6])
print(l)

#slicing
lst = list (range(10))
print(lst)

print("elements from index 4 to 7 :",lst[4:7])
print("alternate elements, string at index 0 :",lst[0::2])
print("every third elements, string at index 1 :",lst[1::3])

[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7 : [4, 5, 6]
alternate elements, string at index 0 : [0, 2, 4, 6, 8]
every third elements, string at index 1 : [1, 4, 7]

In [15]:
#while loops
x = 0
while x < 10 :
    print('x is currently :',x,end=' ')
    print(' x is still less than 10, adding 1 to x')
    x+=1

x is currently : 0  x is still less than 10, adding 1 to x
x is currently : 1  x is still less than 10, adding 1 to x
x is currently : 2  x is still less than 10, adding 1 to x
x is currently : 3  x is still less than 10, adding 1 to x
x is currently : 4  x is still less than 10, adding 1 to x
x is currently : 5  x is still less than 10, adding 1 to x
x is currently : 6  x is still less than 10, adding 1 to x
x is currently : 7  x is still less than 10, adding 1 to x
x is currently : 8  x is still less than 10, adding 1 to x
x is currently : 9  x is still less than 10, adding 1 to x