In [1]:
print("Hello World!")

Hello World!

In [2]:
print('hello')
print()  
print('This is also a string')

hello

This is also a string

In [3]:
s = 'New York'
print(s)
print(type(s))
print(len(s))

New York
<class 'str'>
8

In [4]:
s = 'Hello World'

print(s) 
print() 

print(s[0])
print()

print(s[1])

Hello World

H

e

In [5]:
s1 = 'Hello'
s2 = "World"
print(s1 + " " + s2)

Hello World

In [6]:
print("Hello_" * 3)
print("-" * 10)

Hello_Hello_Hello_
----------

In [7]:
s = "Namaste World"

print(s[1]) 
print(s[6:11])
print(s[-5:-1])

print("Wor" in s)

a
e Wor
Worl
True

In [8]:
s = "Hello World"
print(s.upper()) 
print(s.lower())

HELLO WORLD
hello world

In [10]:
name = "rangga"
age = 22
married = True
print("My name is %s, my age is %s, and it is %s that I am married" % (name, age, married))
print("My name is {}, my age is {}, and it is {} that I am married".format(name, age, married))

My name is rangga, my age is 22, and it is True that I am married
My name is rangga, my age is 22, and it is True that I am married

In [11]:
print(2+1)

print(2-1)

print(2*2)

print(3/2)

3
1
4
1.5

In [12]:
2**3

8

In [13]:
2 + 10 * 10 + 3

105

In [14]:
(2+10) * (10+3)

156

In [15]:
a = 5

a+a

10

In [16]:
a = 10

a

10

In [17]:
a = 42
b = 32.30
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [18]:
my_list = [1,2,3]

my_list = ['A string',23,100.232,'o']
len(my_list)

4

In [20]:
my_list = ['one','two','three',4,5]

l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [21]:
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2, 3, 4, 5, 6]

In [22]:
lst = list(range(10)) 

print(lst)
print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2])

print("every third element, starting at index 1:", lst[1::3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]
every third element, starting at index 1: [1, 4, 7]

In [23]:
my_dict = {'key1':'value1','key2':'value2'}

my_dict['key2']

'value2'

In [24]:
my_dict['key1']=123
my_dict
{'key1': 123, 'key2': 'value2'}

my_dict['key1'] = my_dict['key1'] - 123
my_dict['key1']

0

In [25]:
my_dict['key1'] -= 123
my_dict['key1']

-123

In [26]:
x = set()

x.add(1)
x

{1}

In [28]:
x.add(2)

x
{1, 2}

x.add(1)

x

{1, 2}

In [29]:
l = [1,1,2,2,3,4,5,6,1,1]

set(l)

{1, 2, 3, 4, 5, 6}